{% extends "zh.html" %}
{% block title %}سفارش کتاب{% endblock %}

{%block style%}
	form#form input#input-1, form#form input#input-2 
	{
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		background-color: #eaeaea;
		background: -moz-linear-gradient(top, #ffffff, #eaeaea);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0,#ffffff), color-stop(1.0, #eaeaea));
		border: 1px solid #cacaca;
		color: #444;
		font-size: 14px;
		margin: 0 0 25px;
		padding: 8px 10px;
		width: 200px;
	}
	form#form input#submit {
		-moz-border-radius: 32px;
		-webkit-border-radius: 32px;
		background-color: #dedede;
		background: -moz-linear-gradient(top, #ffffff, #eaeaea);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0,#ffffff), color-stop(1.0, #dedede));
		border: 1px solid #dedede;
		color: #484848;
		font-size: 18px;
		font-family:"Tahoma"
		font-weight: bold;
		padding: 10px 10px;
	}
	input:focus, textarea:focus {
		-webkit-box-shadow:0 0 25px #ccc;
		-moz-box-shadow:0 0 25px #ccc;
		box-shadow:0 0 25px #ccc;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		transform: scale(1.05);
	}	
	input, textarea {
		font-family: "Tahoma";
		background-color:#fff;
		border:1px solid #ccc;
		font-size:20px;
		width:200px;
		min-height:20px;
		display:block;
		margin-bottom:16px;
		margin-top:8px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
{%endblock%}

{%block head%}
<meta charset="utf-8" />
<title>CSS3 Forms</title>
<link rel="stylesheet" href="css/CSS3.css" type="text/css" />
{%endblock%}



<body>

{% block content %} 
<center> 

{%if sabt%}

<p style="color: green;font-family:Tahoma;font-size:20px;" dir="rtl">سفارش شما با موفقیت به ثبت رسید  </p>


{%endif%}

<div id="table" style="position:absolute;top : 30px ;left:370px;height:465px;width:580px"">
        		<table id="t1">
					
					
					<tr bgcolor="#3399FF">
					  <th><p style="font-size : 12pt  ; color : black"> </p> </th>
					  <th><p style="font-size : 12pt  ; color : black">  </p>  </th>
					  
					  
					  
					</tr>
					<tr>
					
					</tr>
		
	
	</div>









<form action="/sefaresh/" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form }}
             <input type="submit" value="Send">
        </form>
{% endblock %} 
</body>