{% extends "base.html" %} 
{% block title %}ثبت نام{% endblock %}

{%block style%}
	form#form input#input-1, form#form input#input-2 
	{
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		background-color: #eaeaea;
		background: -moz-linear-gradient(top, #ffffff, #eaeaea);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0,#ffffff), color-stop(1.0, #eaeaea));
		border: 1px solid #cacaca;
		color: #444;
		font-size: 14px;
		margin: 0 0 25px;
		padding: 8px 10px;
		width: 200px;
	}
	form#form input#submit {
		-moz-border-radius: 32px;
		-webkit-border-radius: 32px;
		background-color: #dedede;
		background: -moz-linear-gradient(top, #ffffff, #eaeaea);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0,#ffffff), color-stop(1.0, #dedede));
		border: 1px solid #dedede;
		color: #484848;
		font-size: 18px;
		font-family:"Tahoma"
		font-weight: bold;
		padding: 10px 10px;
	}
	input:focus, textarea:focus {
		-webkit-box-shadow:0 0 25px #ccc;
		-moz-box-shadow:0 0 25px #ccc;
		box-shadow:0 0 25px #ccc;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		transform: scale(1.05);
	}	
	input, textarea {
		font-family: "Tahoma";
		background-color:#fff;
		border:1px solid #ccc;
		font-size:20px;
		width:200px;
		min-height:20px;
		display:block;
		margin-bottom:16px;
		margin-top:8px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
{%endblock%}

{%block head%}
<meta charset="utf-8" />
<title>CSS3 Forms</title>
<link rel="stylesheet" href="css/CSS3.css" type="text/css" />
{%endblock%}



<body>

{% block content %} 
<center> 

{%if sub %}	
	<div>
		{%if  tekrari %}
			<p style="color: red;font-family:Tahoma;font-size:20px;" > نام کاربری وارد شده تکراری است </p>
		{%endif%}
	</div>
	<div>
	
		{%if eusername%}
			<p style="color:red;font-family:Tahoma;font-size:20px;"> نام کاربری باید بین 4 تا 8 کاراکتر باشد </p>

		{%endif%}
	</div>
	<div>
	
		{%if ename%}
			<p style="color:red;font-family:Tahoma;font-size:20px;"> نام  باید بین 4 تا 8 کاراکتر باشد </p>

		{%endif%}
	</div>
	<div>
	
		{%if efamily%}
			<p style="color:red;font-family:Tahoma;font-size:20px;"> نام خانوادگی باید بین 4 تا 8 کاراکتر باشد </p>

		{%endif%}
	</div>
	<div>
	
		{%if eaddress%}
			<p style="color:red;font-family:Tahoma;font-size:20px;"> فیلد آدرس باید پر شود . </p>

		{%endif%}
	</div>
	<div>
		{%if epassword%}
			<p style="color: red;font-family:Tahoma;font-size:20px;"> پسوردی بین 6 الی 10 کاراکتر وارد کنید.</p>
		{%endif%}
	</div>
	<div>
		{%if eemail%}
			<p style="color: red;font-family:Tahoma;font-size:20px;"> آدرس ایمیل وارد شده معتبر نمی باشد</p>
		{%endif%}
	</div>
	<div>
		{%if not eusername and not ename and not efamily and not epassword and not eaddress and not eemail and not tekrari%}  	
	
			<p style="color: green;font-family:Tahoma;font-size:20px;" dir="rtl">کاربر گرامی {{username}} شما با رمز عبور {{password}} و پست الکترونیک {{email}} در سیستم ثبت شدید. </p>
		{%endif%}
	</div>

{%endif%}


{%if not error%}
	<p style="color: black;"> برای ثبت نام لازم است تمام فیلد ها را پر نمایید  </p>
{%endif%} 

<form action="/sabtenam/" method="get">
<p style="font-family:Tahoma;font-size:20px;">نام کاربری</p><input type = "text" name="username" id="username">
<p style="font-family:Tahoma;font-size:20px;">نام </p><input type = "text" name="name" id="name">
<p style="font-family:Tahoma;font-size:20px;">نام خانوادگی</p><input type = "text" name="family" id="family">
<p style="font-family:Tahoma;font-size:20px;">کلمه عبور</p><input type = "text" name="password" id="password">
<p style="font-family:Tahoma;font-size:20px;">پست الکترونیک</p><input type="text" name="email" id="email">
<p style="font-family:Tahoma;font-size:20px;">آدرس جهت ارسال سفارشات</p><input type="text" name="address" id="address">
<input type="submit" name="submit" value="ثبت">
</form>
{% endblock %} 
</body>