<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <head>
      <meta charset="UTF-8">
        
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="/static/hodaapp/styles.css" type="text/css" />
        <meta name="author" content="for Codrops">
        <link rel="shortcut icon" href="../favicon.ico">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/static/hodaapp/css/demo.css">
        <link rel="stylesheet" type="text/css" href="/static/hodaapp/css/style.css">



<title>{% block title %}کتابخونه {{username}}{% endblock %}</title>

 <link href="/static/hodaapp/css/kerase.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/static/hodaapp/css/style.css" />
    <link href="/static/hodaapp/css/kerase.css" rel="stylesheet">


<!-- Start css3menu.com HEAD section -->
<link rel="stylesheet" href="/static/hodaapp/login_files/css3menu1/style.css" type="text/css" />

<!-- End css3menu.com HEAD section -->


<!-- Start WOWSlider.com HEAD section -->
	<link rel="stylesheet" type="text/css" href="/static/hodaapp/engine1//style.css" media="screen" />
	<script type="text/javascript" src="/static/hodaapp/engine1//jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->


</head>

  <body>

<style>
body {
    background-color: 	#E6E6FA;
}
</style>
<div class="container">
	<div class="row clearfix">
	<div class="col-md-12 column" >

			<div class="row clearfix">
				<div class="col-md-12 column"style="border: 5px solid #3b40ff;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;border-top-left-radius: 20px;background-color: #F9FBFF;">

                     <!--<div class="col-md-8 column">-->
                     <img src="/static/hodaapp/img/20.png" border="0" alt="logo"  style=" position: relative;left :90px;top: -5px; ">
                    <!-- </div>-->
<!--<div class="col-md-4 column">-->
       					<img src="/static/hodaapp/img/kerase.png" border="0" alt="logo" style="  position: absolute; right:550px; top:50px ;">
                 <script type="text/javascript">

function GetClock(){
d = new Date();
nday   = d.getDay();
nmonth = d.getMonth();
ndate  = d.getDate();
nyear = d.getYear();
nhour  = d.getHours();
nmin   = d.getMinutes();
if(nyear<1000) nyear=nyear+1900;

if(nmin <= 9){nmin="0"+nmin}


document.getElementById('clockbox').innerHTML=""+(nmonth+1)+"/"+ndate+"/"+nyear+" "+nhour+":"+nmin+"";
setTimeout("GetClock()", 1000);
}
window.onload=GetClock;
</script>
<span id="clockbox" style="font:normal 11px verdana;text-shadow: 2px 2px 8px #FF0000;color:Black;font-family:tahoma;font-size:10pt;;position: relative;top:-50px;left: 800px;"></span>
           <span id="LblUserName" style="position: relative;left:685px; top:-110px;text-shadow: 2px 2px 8px #FF0000;color:Black;font-family:tahoma;font-size:10pt;"> خوش آمدید {{username}} </span>
     
<hr class="prettyline" style="position: relative;top: 5px;">
<!-- Start css3menu.com BODY section id=1 -->
<ul id="css3menu1" class="topmenu" style="position: relative;left: 870px;top: -10px;" >
	<li class="topmenu"><a href="http://127.0.0.1:8000/kerase" style="height:32px;line-height:32px;"><img src="/static/hodaapp/login_files/css3menu1/bdownload.png" alt="خروج"/>خروج</a></li>
	<li class="topmenu"><a href="#" style="height:32px;line-height:32px;"><img src="/static/hodaapp/login_files/css3menu1/bcontact.png" alt="ارتباط با ما"/>ارتباط با ما</a></li>
	<li class="topmenu"><a href="#" style="height:32px;line-height:32px;"><img src="/static/hodaapp/login_files/css3menu1/bnews1.png" alt="درباره ما"/>درباره ما</a></li>
	</ul>

<!-- End css3menu.com BODY section -->

<!--
<div id="menu" style="position: relative;top: -15px;">
        <ul class="menu">
            <li><a class="haschild" title="" href="">خانه</a>
                <ul class="sub-menu">
                    <li><a class="haschild" title="" href="">منو 1</a>
                        <ul>
                            <li><a title="" href="">زیر منو 1</a></li>
                            <li><a title="" href="">زیر منو 2</a></li>
                            <li><a title="" href="">زیر منو 3</a></li>
                        </ul>
                    </li>
                    <li><a title="" href="">منو 2</a></li>
                    <li><a class="haschild" title="" href="">منو 3</a>
                        <ul>
                            <li><a title="" href="">زیر منو 1</a></li>
                            <li><a title="" href="">زیر منو 2</a></li>
                            <li><a title="" href="">زیر منو 3</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
<li><a class="haschild" title="" href="">درباره ما</a>
                <ul class="sub-menu">
                    <li><a title="" href="">منو 1</a></li>
                    <li><a title="" href="">منو 2</a></li>
                    <li><a class="haschild" title="" href="">منو 3</a>
                        <ul>
                            <li><a title="" href="">زیر منو 1</a></li>
                            <li><a title="" href="">زیر منو 2</a></li>
                            <li><a title="" href="">زیر منو 3</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
<li><a class="haschild" title="" href="">سرویس ها</a>
                <ul class="sub-menu">
                    <li><a title="" href="">منو 1</a></li>
                    <li><a class="haschild" title="" href="">منو 2</a>
                        <ul>
                            <li><a title="" href="">زیر منو 1</a></li>
                            <li><a title="" href="">زیر منو 2</a></li>
                            <li><a title="" href="">زیر منو 3</a></li>
                        </ul>
                    </li>
                    <li><a class="haschild" title="" href="">منو 3</a>
                        <ul>
                            <li><a title="" href="">زیر منو 1</a></li>
                            <li><a title="" href="">زیر منو 2</a></li>
                            <li><a title="" href="">زیر منو 3</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
          <li><a title="" href="">وبلاگ</a></li>
<li><a class="haschild" title="" href="">تماس با ما</a>
                <ul class="sub-menu">
                    <li><a title="" href="">منو 1</a></li>
                    <li><a class="haschild" title="" href="">منو 2</a>
                        <ul>
                            <li><a title="" href="">زیر منو 1</a></li>
                            <li><a title="" href="">زیر منو 2</a></li>
                            <li><a title="" href="">زیر منو 3</a></li>
                        </ul>
                    </li>
                    <li><a class="haschild" title="" href="">منو 3</a>
                        <ul>
                            <li><a title="" href="">زیر منو 1</a></li>
                            <li><a title="" href="">زیر منو 2</a></li>
                            <li><a title="" href="">زیر منو 3</a></li>
                        </ul>
                    </li>
                    <li><a title="" href="">منو 4</a></li>
                    <li><a title="" href="">منو 5</a></li>
                </ul>
            </li>
      </ul>-->
    </div>




		</div>
	</div>


<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-8 column">
                    <h3 style="position: relative;left: 200px;top: 10px; text-shadow: 2px 2px 8px #3b40ff;color:Black;font-family:tahoma;font-size:20pt;" >پیشنهاد کراسه به شما</h3>
				</div>
				<div class="col-md-4 column">

                    <h3 style="position: relative;left: 980px;top: -40px; text-shadow: 2px 2px 8px #3b40ff;color:Black;font-family:tahoma;font-size:20pt;" >لیست کتاب</h3>

				</div>
			</div>



<div class="row clearfix" >

				<div class="col-md-8 column"  >
    <!-- Start WOWSlider.com BODY section id=wowslider-container1 -->
	<div id="wowslider-container1" style="position: relative;left: -300px;">
	<div class="ws_images"><ul>
<li><img src="/static/hodaapp/data1/images/12.jpg" alt="12" title="1" id="wows1_0"/><a href="http://127.0.0.1:8000/buy/{{username}}/{{book_id1}}">{{book_name1}}</a></li>
<li><img src="/static/hodaapp/data1/images/11.jpg" alt="11" title="2" id="wows1_1"/><a href="http://127.0.0.1:8000/buy/{{username}}/{{book_id2}}">{{book_name2}}</a> </li>
<li><img src="/static/hodaapp/data1/images/16.jpg" alt="16" title="3" id="wows1_2"/><a href="http://127.0.0.1:8000/buy/{{username}}/{{book_id3}}">{{book_name3}}</a></li>
<li><img src="/static/hodaapp/data1/images/13.jpg" alt="13" title="4" id="wows1_3"/><a href="http://127.0.0.1:8000/buy/{{username}}/{{book_id1}}">{{book_name1}}</a></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#" title="12"><img src="/static/hodaapp/data1/tooltips/12.jpg" alt="12"/>1</a>
<a href="#" title="11"><img src="/static/hodaapp/data1/tooltips/11.jpg" alt="11"/>2</a>
<a href="#" title="16"><img src="/static/hodaapp/data1/tooltips/16.jpg" alt="16"/>3</a>

</div></div>
<span class="wsl"><a href="http://wowslider.com">Gallery App</a> by WOWSlider.com v4.8</span>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
	</div>
	<script type="text/javascript" src="/static/hodaapp/engine1//wowslider.js"></script>
	<script type="text/javascript" src="/static/hodaapp/engine1//script.js"></script>
<!-- End WOWSlider.com BODY section -->
				</div>
				

<div class="col-md-4 column" >
<ul class="v-menu" style="position: relative;right: -900px;top: -400px;width: 290px;">
    <li><a href="http://127.0.0.1:8000/book/{{ username }}/AR/1"><p href="http://127.0.0.1:8000/book/{{ username }}/AR/1">هنری</p><img src="/static/hodaapp/img/170.jpg" border="0" style=" position:relative;right:-30px;top: -10px;"></a></li>
     <li><a href="http://127.0.0.1:8000/book/{{ username }}/UN/1"><p href="#">دانشگاهی</p><img src="/static/hodaapp/img/23.jpg" border="0" style=" position:relative;right:-30px;top: -10px;"></a></li>

<li><a href="http://127.0.0.1:8000/book/{{ username }}/KD/1"><p href="#">کودک</p><img src="/static/hodaapp/img/19.jpg" border="0" style=" position:relative;right:-30px;top: -10px;"></a></li>

<li><a href="http://127.0.0.1:8000/book/{{ username }}/SC/1"><p href="#">علمی</p><img src="/static/hodaapp/img/22.jpg" border="0" style=" position:relative;right:-30px;top: -10px;"></a></li>
   </ul>

<!--
<div id="menu">
  <ul>
    <li><a href="file:///D:/html/base.html" >Link 2</a></li>
    <li><a dir="rtl" align="right" href="http://www.p30script.ir/">Link 1</a></li>

    <li><a href="http://www.p30script.ir/">Link 3</a></li>

    <li><a href="http://www.p30script.ir/">Link 5</a></li>
    <li><a href="http://www.p30script.ir/">Link 6</a></li>

  </ul>
</div>-->




			

                </div>
			</div>
		</div>
	</div>
</div>




<div class="row clearfix">
<div class="col-md-12 column">
		</div>
	</div>










 
	<script src="/static/hodaapp/js/kerase.js"></script>

    
    
  </body>

</html>