
{% extends "base2.html" %}
{% block title %}لیست کتاب ها {% endblock %}
{% block content %}
















<br>{{username}}        name karbari :)


<br>
<br>
<br>
<br>






{% if not empty%}

	<div id="table" style="position:absolute;top : 30px ;left:350px;height:465px;width:590px"">
        		<table id="t1">
					
					
					<tr bgcolor="#3399FF">
					  <th><p style="font-size : 15pt  ; color : black">__آیدی __</p> </th>
					  <th><p style="font-size : 15pt  ; color : black">__نام کتاب__ </p>  </th>
					  <th><p style="font-size : 15pt  ; color : black"> __نام انتشارات__</p> </th>
					  <th><p style="font-size : 15pt  ; color : black"> __قیمت__ </p> </th>
					  
					  
					</tr>
					<tr>
					{%for m in endlist%}
						<tr bgcolor="#3399FF">{%for x in m%}
							<td bgcolor="#94B8B8"><a href="http://127.0.0.1:8000/infbook/{{x}}"><center><p  style="font-size : 15pt  ; color : black"> {{x}} </p> </th></a>
						{%endfor%}</tr>
						
					{%endfor%}
					</tr>
		
	
	</div>








{%endif%}

{% if not empty %}
<div id="namk" style="background-color:#FFFFFF;width:160px;height:30px;position:absolute;right:300px;top:480px;">
		<div dir="rtl" id="nam" ><a href="http://127.0.0.1:8000/book/{{ username }}/{{group}}/{{newpage}}"><center>
			<font face="Dast Nevis" style="font-size: 20pt" color = "blue"  > صفحه بعد  </font> </a>
			
			
			</div>
</div>
{%endif%}
{%if not error%}
<div id="namk" style="background-color:#FFFFFF;width:160px;height:30px;position:absolute;right:100px;top:480px;">
		<div dir="rtl" id="nam" ><a href="http://127.0.0.1:8000/book/{{ username }}/{{group}}/{{oldpage}}"><center>
			<font face="Dast Nevis" style="font-size: 20pt" color = "blue"  > صفحه قبل  </font> </a>
			
			
			</div>
</div>
{%endif%}











<br>
<br>
<br>



{% endblock %} 


