<html><head>



<title>{% block title %}لیست کتاب ها{% endblock %}</title>



<meta http-equiv="Content-Language" content="en-us">
<title><-BlogAndPostTitle-></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="designer" content="Theme - Designer">
<meta name="designerUrl" content="http://www.theme-designer.com/">
<meta name="language" content="Farsi">
<meta name="author" content="<-BlogAuthor->">
<meta name="description" content="<-BlogAndPostTitle-> - <-BlogDescription->">
<meta name="keywords" content="<-BlogAndPostTitle->,<-BlogId->, Blog, Weblog, Persian,Iran, Iranian, Farsi, Weblogs, Theme-designer">
<link rel="alternate" type="application/rss+xml" title="<-BlogTitle->" href="<-BlogXmlLink->" />
<script type="text/javascript" src="http://themeupload.theme-designer.com/45/jquery.min.js"></script>
<script type="text/javascript" src="http://themeupload.theme-designer.com/45/scrolltopcontrol.js"></script> 
<link href="http://themeupload.theme-designer.com/45/c.css" type="text/css" rel="stylesheet">
<script  language="javascript">
  function GetBC(lngPostid)
   {
       intTimeZone=<-BlogTimeZone->;
       strBlogId="<-BlogId->";
       intCount=-1;
       strResult="";
       try {
	  for (i=0;i<BlogComments.length;i+=2)
	  {
	       if (BlogComments[i]==lngPostid)
	       intCount=BlogComments[i+1] ;
	  }
           }  catch( e) {
           }
    if ( intCount==-1)  strResult="نظر دهید";
    if ( intCount==0)  strResult="نظر بدهید";
    if ( intCount==1)  strResult="یک نظر";
    if ( intCount>1)  strResult=intCount + " نظر" ;
  
  strUrl="http://commenting.blogfa.com/?blogid=" +strBlogId + "&postid=" + lngPostid + "&timezone=" + intTimeZone ;
  strResult ="<a href=\"javascript:void(0)\" onclick=\"javascript:window.open('" + strUrl + "','blogfa_comments','status=yes,scrollbars=yes,toolbar=no,menubar=no,location=no ,width=500px,height=500px')\" >" +  strResult + " </a>" ;

  document.write ( strResult ) ;
 }
 
function OpenLD()
{
  window.open('LinkDump.aspx','blogfa_ld','status=yes,scrollbars=yes,toolbar=no,menubar=no,location=no ,width=500px,height=500px');
  return true;
}
</script>
</head>
<!-- Template45-blogfa -->
<!-- Version: 4.0 -->
<!-- Url template: http://www.theme-designer.com/template45.html -->
<!-- Design By: wWw.Theme-Designer.Com -->



<body bgcolor="#ebf1f7">

<div align="center">
<table border="0" width="997" cellspacing="0" cellpadding="0" dir="rtl">
<tr>
<td>

<div class="space"></div>
<!---------- he ---------------------------->
<!---------- address-image --------->
<div style="background-color:#576162; width:997; overflow:hidden; height:100px; overflow:hidden;
background-image:url('http://www.uploadax.com/images/52958245636080094562.png');
background-size: 1000px 100px;
background-repeat:no-repeat; background-position:center top;">


</div>
<!---------- he ---------------------------->

<div class="menu-b">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tr>
<td valign="top" width="39">
<div class="date2"><img src="http://themeupload.theme-designer.com/45/image/5.gif"></div>
</td>
<td valign="top" width="166"><div class="date"><script type='text/javascript' language='javascript' src='http://www.theme-designer.com/s/history/?type=1'></script></div></td>
<td valign="top" width="39">

</td>

<td width="509" valign="top">
<div class="search"><form method="Get" target="_blank" action="http://google.com/search" class=sch><input name="sitesearch" value="<-BlogUrl->" type="hidden">
<p dir="rtl"></a><input type="text" name="q" size="21" class=txt ><input type="submit" value=" " class=but>
</p></form></div>
</td>
</tr>
</table>
</div>

<div class="menu-b2"></div>
<div class="menu-b3">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tr>
<td width="100" valign="top">

<div class="alibehnamfar">
<div class="icon-m1"><a href="http://127.0.0.1:8000/kerase/"><img border="0" src="http://themeupload.theme-designer.com/45/image/13.gif" width="19" height="20"></a></div>
<div class="icon-m2"><a href="#"><img border="0" src="http://themeupload.theme-designer.com/45/image/13.gif" width="19" height="20"></a></div>
<div class="icon-m3"><a href="#"><img border="0" src="http://themeupload.theme-designer.com/45/image/13.gif" width="19" height="20"></a></div>
</div>

</td>
<td width="897" valign="top">

<div id="tabs">
  <ul>
    <li><a href="http://127.0.0.1:8000/kerase/"><span>صفحه اصلی</span></a></li>
    <li><a href="http://127.0.0.1:8000/sabtenam"><span>ثبت نام</span></a></li>
    <li><a href="http://127.0.0.1:8000/login"><span>ورود به سایت</span></a></li>
    <li><a href="http://127.0.0.1:8000/proffer/{{username}}"><span>پیشنهاد کراسه به شما  </span></a></li>
	
    {%if not epassword%}
			
		<li><a ><span>{{username}}  عزیز خوش اومدی </span></a></li>

		
    {%endif%}



    </ul>
</div>

</td>
</tr>
</table>
</div>

<div class="space2"></div>

<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">


<div class="theme-designer-com"></div>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tr>
<td valign="top" width="220" >

<div class="theme-designer-com2"></div>
<div class="theme-designer-com3"><div align="center">

<div class="menu-right1"><div class="menu-title">درباره وب سايت</div></div>
<div class="menu-right2"><div align="center">
<div class="menu-right4">
<BlogProfile>

<div class="images"><img src="http://8pic.ir/images/lid67ey23137pd6x6px7.png" align="middle" width="150px" height="70px" style="position:absolute;right:190px;top:310px;"></div>
<div class="text">     <br><br><br><br>  </div></BlogProfile>
</div>
</div></div>
<div class="menu-right3"></div><div class="space3"></div>

<BlogLinksBlock>
<div class="theme-designer"><div class="menu-title">لیست موضوعی کتاب ها</div></div>
<div class="theme-designer2"><div class="t-d2-2"><div align="right">

<div class="vmenu3"><a  title="شامل کتب فنی و مهندسی و علوم پایه" href="http://127.0.0.1:8000/book/{{ username }}/UN/1" >دانشگاهی</a></div>
<div class="vmenu3"><a  title="کتب دانشگاهی هنر و مطالعه آزاد" href="http://127.0.0.1:8000/book/{{ username }}/AR/1" >هنری</a></div>
<div class="vmenu3"><a  title="بهترین کتب علمی دنیا :دی" href="http://127.0.0.1:8000/book/{{ username }}/SC/1" >علمی</a></div>
<div class="vmenu3"><a  title="شامل کتب داستان ، رنگ آمیزی و کتب آموزش کودکان" href="http://127.0.0.1:8000/book/{{ username }}/KD/1" >کودکان</a></div>
</div></div></div>
<div class="theme-designer3"></div><div class="space3"></div>
</BlogLinksBlock>

<BlogAuthorsBlock>
<div class="theme-designer"><div class="menu-title">اعضای گروه</div></div>
<div class="theme-designer2"><div class="t-d2-2"><div align="right">
<BlogAuthors><div class="vmenu3"><a href="#"><پگاه ترکمندی></a></div></BlogAuthors>
<BlogAuthors><div class="vmenu3"><a href="#"><زینب شیخ الاسلامی></a></div></BlogAuthors>
<BlogAuthors><div class="vmenu3"><a href="#"><هدی علی گودرز></a></div></BlogAuthors>
<BlogAuthors><div class="vmenu3"><a href="#"><عطیه گودرزی></a></div></BlogAuthors>
<BlogAuthors><div class="vmenu3"><a href="#"><فائزه محمدیان></a></div></BlogAuthors>
<BlogAuthors><div class="vmenu3"><a href="#"><مژگان نمیرانیان></a></div></BlogAuthors>


</div></div></div>
<div class="theme-designer3"></div><div class="space3"></div>
</BlogAuthorsBlock>





</div></div>
<div class="theme-designer-com4"></div>

</td>
<td valign="top" style="width:560px; overflow:hidden; background-image:url(http://themeupload.theme-designer.com/45/image/28.jpg); background-repeat:repeat-y;">
<div class="alibehnamfar2">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tr>
<td valign="top" width="10"><div style="width:10; overflow:hidden; hight:10px;"></div></td>
<td valign="top">

<BLOGFA>
<div class="post1"><div class="title-post"><div class="link-title-post"><a href="#">پاسخ به درخواست شما</a>
			</div></div></div>

<div class="post3">



{% block content %}


{% if not empty%}

	<div id="table" style="position:absolute;top : 30px ;left:350px;height:465px;width:590px"">
        		<table id="t1">
					
					
					<tr bgcolor="#3399FF">
					  <th><p style="font-size : 15pt  ; color : black">__آیدی __</p> </th>
					  <th><p style="font-size : 15pt  ; color : black">__نام کتاب__ </p>  </th>
					  <th><p style="font-size : 15pt  ; color : black"> __نام انتشارات__</p> </th>
					  <th><p style="font-size : 15pt  ; color : black"> __قیمت__ </p> </th>
					  
					  
					</tr>
					<tr>
					{%for m in endlist%}
						<tr bgcolor="#3399FF">{%for x in m%}
							<td bgcolor="#94B8B8"><a href="http://127.0.0.1:8000/infbook/{{x}}"><center><p  style="font-size : 15pt  ; color : black"> {{x}} </p> </th></a>
						{%endfor%}</tr>
						
					{%endfor%}
					</tr>
		
	
	</div>








{%endif%}

{% if not empty %}
<div id="namk" style="background-color:#FFFFFF;width:160px;height:30px;position:absolute;right:300px;top:480px;">
		<div dir="rtl" id="nam" ><a href="http://127.0.0.1:8000/book/{{ username }}/{{group}}/{{newpage}}"><center>
			<font face="Dast Nevis" style="font-size: 20pt" color = "blue"  > صفحه بعد  </font> </a>
			
			
			</div>
</div>
{%endif%}
{%if not error%}
<div id="namk" style="background-color:#FFFFFF;width:160px;height:30px;position:absolute;right:100px;top:480px;">
		<div dir="rtl" id="nam" ><a href="http://127.0.0.1:8000/book/{{ username }}/{{group}}/{{oldpage}}"><center>
			<font face="Dast Nevis" style="font-size: 20pt" color = "blue"  > صفحه قبل  </font> </a>
			
			
			</div>
</div>
{%endif%}











<br>
<br>
<br>

{%endblock%}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

			


</div>
<div class="post4">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">
<div style="width:100%; padding:0px 10px 0px 0px; color:#666666; ">



</td>

</tr>
</table>
</div>

</BLOGFA>



</td>

</tr>
</table>

</div>
</td>
</tr>
<tr>
<td valign="top" colspan="2" >
<div class="alibehnamfar4"></div>
</td>
</tr>
</table>

</td>
<td width="8" valign="top" >&nbsp;</td>
<td width="202" valign="top">
<div class="m1-l">




<!---------- block left ------------------------->
<div class="theme-designer"><div class="menu-title">امكانات جانبي</div></div>
<div class="theme-designer2"><div align="center" style="margin-top:8px;"><div class="t-d2-3">
جهت اطلاع از تنظیمات و ویــــرایش این قالب اینجا را کلیک کنید.<br><br>
<center><a target="_blank" title="جهت اطلاع از تنظیمات و ویرایش این قالب اینجا را کلیک کنید " 
href="http://www.theme-designer.com/help">.:: کلیک کنید ::.</a></center>
</div></div></div>
<div class="theme-designer3"></div><div class="space3"></div>
<!---------- block left ------------------------->







</div>
</td>
<td width="7">&nbsp;</td>
</tr>
</table>

<div class="space5"></div>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tr>
<td valign="top" height="">
<div class="copyright-image">

<table border="0" width="980" cellspacing="0" cellpadding="0">
<tr>
<td valign="top" >
<div class="alibehnamfar6" >
<div class="copyright" style="line-height: 25px">كد نويسي و گرافيك قالب توسط : <a target="_blank" href="http://www.theme-designer.com/">تم ديزاينر</a>
</div>
</div>
</td>
<td width="104" valign="top" ><div class="top"><a href="#top"><img border="0" src="http://themeupload.theme-designer.com/45/image/38.jpg"></a></div></td>
</tr>
</table>

</div>
<div class="copyright-image2"></div>
</td>
</tr>
</table>
<div class="space5"></div>

</td>
</tr>
</table>
</div>







</body></html>





