
{% extends "base2.html" %}
{% block title %} {% endblock %}
{% block content %}



group issssssss {{ group }}
 
{{username}}        name karbari :)
{% if not empty %}
    {{book_list}}
 {% endif %}
{% if  empty %}
    دیگه از این کتابا نداریم :(
{% endif %}


<br>
<br>
<br>
<br>




<div id="namk" style="background-color:#E0EBEB;width:500px;height:150px;position:absolute;right:430px;top:320px;">
		<div dir="rtl" id="nam" ><center><p><center>
			<font face="bnazanin" style="font-size: 20pt" color = "black"  > {{m}}  </font> </p></center></div>
</div>

<div id="namk" style="background-color:#E0EBEB;width:500px;height:150px;position:absolute;right:430px;top:480px;">
		<div dir="rtl" id="nam" ><center><p><center>
			<font face="bnazanin" style="font-size: 20pt" color = "black"  > {{m}}  </font> </p></center></div>
</div>

{% if not empty %}
<div id="namk" style="background-color:#FFFFFF;width:160px;height:30px;position:absolute;right:490px;top:640px;">
		<div dir="rtl" id="nam" ><a href="http://127.0.0.1:8000/book/{{ username }}/uni/{{newpage}}"><center>
			<font face="Dast Nevis" style="font-size: 20pt" color = "blue"  > صفحه بعد  </font> </a>
			
			
			</div>
</div>
{%endif%}
{%if not error%}
<div id="namk" style="background-color:#FFFFFF;width:160px;height:30px;position:absolute;right:690px;top:640px;">
		<div dir="rtl" id="nam" ><a href="http://127.0.0.1:8000/book/{{ username }}/uni/{{oldpage}}"><center>
			<font face="Dast Nevis" style="font-size: 20pt" color = "blue"  > صفحه قبل  </font> </a>
			
			
			</div>
</div>
{%endif%}





{%for m in endlist%}



	{%for mm in m%}
		onsoresh is {{mm}}

	{%endfor%}
	<br>
{%endfor%}






<br>
<br>
<br>



{% endblock %} 


